.Header {
  a {
    color: white;
    text-decoration: none;
  }
  nav {
    height: 50px;
    line-height: 50px;
    a {
      height: 100%;
      padding: 0 2rem;
      display: inline-block;
    }
  }
}