body, html, #root, main {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eeeeee;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  width: 90%;
  padding: 1rem 2rem 1rem;
  margin: 2rem auto;
  max-width: 1366px;

  & > header {
    color: white;
    margin: -1rem -2rem 0;
    padding: 0.5rem 2rem 0.8rem;

    .actions {
      position: absolute !important;
      display: flex;
      top: 1rem;
      right: 1rem;
      align-items: center;
      & > * {
        margin-right: 1rem;
      }
    }

      h2 {
      font-weight: 100;
    }
  }
}

@import 'Header';